{{#extend "main"}}

  {{#content "head" mode="append"}}
    <title>{{data.title}} | Nelfix</title>
    <script src="/js/handleWatch.js" defer></script>
    <style>
      .gradient-bg {
        background: linear-gradient(to right, #4a5568, #2d3748);
      }
    </style>
  {{/content}}

  {{#content "body"}}
  <div class="p-4 py-8 text-white">
    {{#if data}}
      <div class="max-w-4xl mx-auto gradient-bg shadow-lg rounded-lg overflow-hidden relative">
        <div class="md:flex">
          <div class="md:flex-shrink-0">
            <img class="h-fit max-w-full w-full object-cover md:w-64" src="{{data.cover_image_url}}" alt="{{data.title}}">
          </div>
          <div class="p-8 flex-grow flex flex-col">
            <div class="uppercase tracking-wide text-sm text-orange-400 font-semibold">{{data.genre}}</div>
            <h1 class="mt-2 text-4xl leading-8 font-bold tracking-tight text-white">{{data.title}}</h1>
            <p class="mt-2 text-gray-300">Directed by {{data.director}}</p>
            <p class="mt-2 text-gray-300">Released in {{data.release_year}}</p>
            <p class="mt-4 text-gray-400">{{data.description}}</p>
            <div class="mt-4 flex justify-between items-center">
              <span class="text-gray-300">Duration: {{data.duration}} minutes</span>
              <span class="text-orange-400 font-bold">Price: ${{data.price}}</span>
            </div>
            <div class="mt-6 flex-grow flex items-end justify-end">
              <a onclick="handleWatch()" class="inline-block bg-orange-500 text-white px-6 py-3 rounded-full hover:bg-orange-600 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer">
                Watch Now
              </a>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="text-center">
        <h1 class="text-3xl text-orange-400 font-bold">{{message}}</h1>
      </div>
    {{/if}}
  </div>
  {{/content}}  

{{/extend}}
